{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}

    <h2>Créer une nouvelle catégorie</h2>

{#    {{ form(monFormulaire) }}#}

    {{ form_start(monFormulaire) }}
    {{ form_end(monFormulaire) }}

{% endblock %}
