{% extends 'base.html.twig' %}

{% block title %}Nouvel Article!{% endblock %}

{% block body %}

    <h2>Créer un nouvel Article</h2>

    <div class="">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
